html {
	font-size: 62.5%; 
}
  
* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	color: #fff; 
}
  
body {
	background: rgb(93, 93, 93); 
}

main{
    padding: 0 30vh 0 30vh;
}

section{
    padding: 10vh 0 2vh 0;
}
  
#navPosition{
    background: rgb(7, 4, 4);
	position: sticky;
    top: 0;
    height: 150px;
    width: 100%;
    z-index: 1000;
}

.navbar-center {
    width: 100%;
    max-width: 1300px;
	height: 150px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1.5rem;
}
.barraNavegacion{
    display: inline-block;
    position:absolute;
    right: 1rem;
    top: 1rem;
}
.btn__navflex {
    flex-direction: column;
	justify-content: flex-end !important;
    color: #000;
}
.enlacesBarra {
	margin-top: 15px;
	border-radius: 5px; 
}
.enlacesBarra ul {
	list-style: none; 
}
.enlacesBarra ul li {
	padding: 5px; 
}
a {
	color: #d7d7d7;
	font-family: "Raleway", sans-serif;
	font-size: 2rem; 
}


.nav-icon {
    font-size: 1.5rem;
}

.cart-btn {
    position: relative;
    cursor: pointer;
}

.cart-items {
    position: absolute;
    top: -8px;
    right: -8px;
    background: var(--primaryColor);
    padding: 0 5px;
    border-radius: 30%;
    color: var(--mainWhite);
}

.fotoFondo {
    min-height: 100vh;
    background: url("./images/wallpaper.jpg");
	background-repeat: no-repeat;
	background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

.banner {
    text-align: center;
    background: rgba(255, 255, 255, 0.5);
    display: inline-block;
    padding: 2rem;
}

.banner-title {
    font-size: 3.4rem;
    text-transform: uppercase;
    letter-spacing: var(--mainSpacing);
    margin-bottom: 3rem;
}

.banner-btn {
    padding: 1rem 2rem;
    text-transform: uppercase;
    letter-spacing: var(--mainSpacing);
    font-size: 1rem;
    background: var(--primaryColor);
    color: var(--mainWhite);
    border: 1px solid var(--primaryColor);
    transition: var(--mainTransition);
    cursor: pointer;
}

.banner-btn:hover {
    background: transparent;
    color: var(--primaryColor);
}

.descripcionProdcutos{
    color:#000;
}
h2{
    font-size: 2.5rem;
}
p{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 2rem;
}
.icons__redes{
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    padding-top: 10px;
}
.fa-telegram, .fa-facebook, .fa-instagram{
        font-size: 40px;
        color:  #b6a2a2;
}
.fa-whatsapp-square{
    font-size: 50px;
    position: fixed;
    right: 10px;
    bottom: 10px;
    color: rgb(48, 204, 48);
    @media only screen and (max-width: 950px){
        font-size: 40px;
    } 
}
.fraseFooter{
    padding: 10px;
    font-size: 1.5rem;
}
.fa-registered{
    padding: 5px;
}