html {
    font-size: 62.5%;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    color: #fff;
}

body {
    background: rgb(93, 93, 93);
}

main {
    padding: 0 30vh 0 30vh;
}

section {
    padding: 10vh 0 2vh 0;
}
.logo{ 
    max-height: 80px;
}

#navPosition {
    background: rgb(7, 4, 4);
    position: sticky;
    top: 0;
    height: 100px;
    width: 100%;
    z-index: 1000;
    display: flex;
}

.navbar-center {
    width: 100%;
    max-width: 1300px;
    max-height: 80px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1.5rem;
}

.barraNavegacion {
    display: inline-block;
    position: absolute;
    right: 1rem;
    top: 1rem; 
}

.btn__navflex {
    flex-direction: row-reverse;
    justify-content: flex-start !important;
    color: #000;
}

.enlacesBarra {
    margin-top: 1rem;
    border-radius: 5px;
}

.enlacesBarra ul {
    list-style: none;
}

.enlacesBarra ul li {
    padding: 5px;
    background-color: rgb(68 17 17);
    border-radius: 2px;
}

a {
    color: #d7d7d7;
    font-family: "Raleway", sans-serif;
    font-size: 2rem;
}

a:hover {
    color: rgb(82, 56, 56)
}

.nav-icon {
    font-size: 1.5rem;
}

.cart-btn {
    position: relative;
    cursor: pointer;
}

#cart-items {
    position: absolute;
    top: -8px;
    right: -8px;
    background: var(--primaryColor);
    padding: 0 5px;
    border-radius: 30%;
    color: var(--mainWhite);
}

.fotoFondo {
    min-height: 100vh;
    background: url("./images/wallpaper.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

.banner {
    text-align: center;
    background: rgba(255, 255, 255, 0.5);
    display: inline-block;
    padding: 1rem;
    border-radius: 5px;
}

.banner-img {
    width: 100%;
    opacity: 0.7;
}

.banner-title {
    padding: 1rem 2rem;
    text-transform: uppercase;
    font-family: 'DynaPuff', cursive;
    letter-spacing: var(--mainSpacing);
    font-size: 1.5rem;
    background: var(--primaryColor);
    color: #605f5f;
    border: 1px solid var(--primaryColor);
    transition: var(--mainTransition);
    cursor: pointer;
}

.banner-btn:hover {
    background: transparent;
    color: var(--primaryColor);
}

h2{
    font-family: 'DynaPuff', cursive
}

.tituloProductos {
    color: #000;
    font-size: 2.5rem;
    padding: 10px;
    font-family: 'DynaPuff', cursive;
}

.descripcionProductos {
    color: #000;
    font-size: 2rem;
    padding: 10px;
}

.buttonPropiedades {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1.5rem;
    margin-bottom: 30px;
}

.precio {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1.8rem;
    font-weight: 500;
    color: #000;
    padding: 10px;
}

p {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 2rem;
}

.icons__redes {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    padding-top: 10px;
}

.fa-telegram,
.fa-facebook,
.fa-instagram {
    font-size: 40px;
    color: #b6a2a2;
}

.fa-whatsapp-square {
    font-size: 50px;
    position: fixed;
    right: 10px;
    bottom: 10px;
    color: rgb(48, 204, 48);

    @media only screen and (max-width: 950px) {
        font-size: 40px;
    }
}

.fraseFooter {
    padding: 10px;
    font-size: 1.5rem;
}

.fa-registered {
    padding: 5px;
}

.galeriaFotos{
    margin: 0 auto;
}

.form__margin {
    padding: 15px;
    display: flex; 
}
.form__margin form {
      margin: 0 auto;
      width: 400px;
      padding: 1em;
      border: 2px solid black;
      border-radius: 1em; 
}
.form__margin form label {
        display: inline-block;
        width: 100%;
        text-align: center;
        font-family: "Lilita One", serif;
        font-size: 1.8em;
        color: #d4c0c0;
}
.form__margin form input, form__margin form textarea {
        font: 1.8em sans-serif !important;
        width: 100%;
        box-sizing: border-box;
        border: 1px solid #999; 
}
.form__margin form button {
        width: 100%;
        margin: 0 auto;
        font-family: 'Lilita One', serif;
        font-size: 1.5em; 
}
.form__margin form button:hover {
          background-color: #000;
          color: #fff; 
}
.form__margin form button:focus {
          background-color: #6e4444;
          color: #b9a0a0; 
}

.miModal{
    z-index: 10;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #111111bd;
    display: flex;
    opacity: 0;
    pointer-events: none;
    transition: opacity .6s .9s;
    --transform: translateY(-100vh);
    --transition: transform .8s;
}

.modal--show{
    opacity: 1;
    pointer-events: unset;
    transition: opacity .6s;
    --transform: translateY(0);
    --transition: transform .8s .8s;
}
.modal--showDos{
    opacity: 1;
    pointer-events: unset;
    transition: opacity .6s;
    --transform: translateY(0);
    --transition: transform .8s .8s;
}

.modalContenedor{
    margin: auto;
    width: 100%;
    max-width: 600px;
    background-color: #fff;
    border-radius: 6px;
    padding: 3em 2.5em;
    display: grid;
    gap: 1em;
    place-items: center;
    justify-items: stretch;
    align-content: space-evenly;
    grid-auto-columns: 100%;
    transform: var(--transform);
    transition:var(--transition);
}
.modalContenedor button {
    color: #000;
    font-size: 2rem;
}

.modalTitulo{
    font-size: 2.5rem;
    color: #000;
}

.modal__img{
    width: 90%;
    max-width: 300px;
}


.cerrarCarrito:hover{
    color: #F26250;
    background-color: #fff;
}


.productoEnCarrito {
    border-left: 5px solid lightblue;
    border-bottom-left-radius: 3px;
    border-top-left-radius: 3px;
    margin: 5px 0;
    padding: 5px 10px;
    display: flex;
    justify-content: space-between;
}
.productoEnCarrito:hover {
    border-left: 5px solid royalblue;
}
.pModal, .precioProducto, #precioTotal, #cantidad {
    color:#000;
    width: 150px;
    
}
.boton-eliminar, .fa-trash-alt{
    color:#000
}

.parrCarroVacio{
    color: #000;
    display: inline-block;
}

.sabores, .saboresDos, .saboresTres, option {
    color:#000;
    font-size: 1.5rem;
}

.divSabores{
    display: flex;

}